<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.packt.playback.presentation.PlaybackActivity"
            android:supportsPictureInPicture="true"
            android:resizeableActivity="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="landscape"/>
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.packt.playback.provider.CastingOptionsProvider" />
    </application>

</manifest>